.central{
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;  
}


/* 
@media (min-width:768px) {

  .imagen-personal {
    width: 80em;
    height: 80em;
  }
  .foto-informacion{
    flex-direction:wrap
  }

  
} */
.foto-informacion{
display:flex;
justify-content: center;
align-items: center;


}

/* sección central  */
.seccion-central{
border: solid red 1px;

}
.foto-informacion{

background-color: grey;

}