.contenedor-central{
  display: grid;
  grid-template-columns: 0.5fr 3fr 0.5fr;  
}

.contenedor-personal{
  background-color: aqua;
}

/* @media (min-width:768px) {

  .imagen-personal {
    width: 10em;
    height: 10em;
  } */
  .foto-informacion{
    flex-direction:row;
    flex-wrap: nowrap;
  }

  
}
.foto-informacion{
display:flex;
flex-direction: column;
flex-wrap: nowrap;
justify-content: center;
align-items: center;
background-color: grey;

}
.imagen-personal{
width: 100px;
height: 100px;

}

/* sección central  */
.seccion-central{
border: solid red 1px;

}

