


@media (max-width: 800px){
  .contenedor-central{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 80vh;
    justify-content: center;
    align-items: center;
    background-image: url(/imagenes/fondo4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  

}



.contenedor-central{
  display: flex;
  flex-direction: column;
 height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: url(/imagenes/fondo4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


.imagen-prenstacion{
border: solid rgb(122, 102, 102) 1px;
border-radius:30%;
width: 100%;
height: auto;
}

.informacion-inicial{
  color: rgb(24, 106, 138);
  font-size: 1em;
  background-color: rgb(83, 87, 87);
text-align: justify;
}
h1{
  display: flex;
  justify-content: center;
}